node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# typescript
*.tsbuildinfo
.superpowers/

# api
apps/api/.dev.vars
apps/api/.wrangler/

# web
apps/web/.wrangler/
